
.text--115a80 {
    color: #115a80;
}
.text--3581c4{
    color: #3581c4;
}
.text--4265a6{
    color: #4265a6;
}

.main--title {
    color: #203864;
    border-bottom: 2px solid #203864;
}

.main--title--text:hover {
    color: #115a80;
}

a:hover {
    color: #115a80;
}

.service {
    height: 700px;
}

.all--detail:hover {
    color: #115a80;
}


.baivietnoibat:hover {
    color: white;
    background-image: linear-gradient(to right, #183e72, #319dd7);
    border-color: inherit;
    transition: 0.2s;
}

#baivietpost {
    overflow: hidden;
    position: relative;
}

#baivietpost img {
    width: 100%;
    height: 280px;
    transition: all 1s ease-out;
    position: relative;
    z-index: 2;
}

#baivietpost:hover img {
    transform: scale(1.1, 1.1);
    z-index: 9;
}

#banner:hover img {
    transform: scale(1.1, 1.1);
    z-index: 9;
}
#banner img {
    transition: all 8s ease-out;
    z-index: 2;
}

.all--detail:hover {
    background-image: linear-gradient(to right, #183e72, #319dd7);
}

.card--text--news {
    height: 20px;
    color: black;
}

.list-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 -16px;
}

.card-infor {
    min-width: 350px;
    background-color: #fff;
    margin: 15px 15px;
}

#dangkytuva {
    width: 100%;
    float: left;
}

#lienhe {
    width: 100%;
    float: left;
}

#gioithieu {
    width: 100%;
    float: left;
}


footer {
    background: linear-gradient(to right, #183e72 100%, #319dd7);
    background-blend-mode: normal;
}

#rectangle5 {
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: auto 360px;
}


.nav-link.active {
    border-color: #959292;

}
.nav-item button{
    background-color: #fff;
    border-color: #e3e1e1;
    border-style: solid;
    border-radius: 0 0 0.375rem 0.375rem;
    border-top: #fff;
}




