html, body {
    min-width: 370px;
}
img {
    width: 100%;
    height: auto;
}
.heading-article {
    box-shadow: 1px 2px 10px #0003;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 10px;
}
.related-posts.heading-article--highlight {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 10px;
}
@media (max-width:1250px) {
    .body-content .breadcrum-div {
        padding-left: 15px;
    }
}.body-content .breadcrum-div {
     padding-left: 0;
 }
.breadcrum-div {
    margin-bottom: 15px;
    margin-top: 10px;
    box-shadow: 1px 1px 4px #80808059;
    padding: 5px;
    border-radius: 5px;
}
.breadcrum-div a {
    color: #464646;
    font-size: 1rem;
    text-decoration: none;
}
.breadcrum-div .bc {
    padding: 0 1rem;
    font-size: .6rem;
}
.fa, .fas {
    font-weight: 900;
}
.main-post {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}
@media (min-width:992px) {
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%}
}.margin-bottom-15 {
     margin-bottom: 15px;
 }
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.category {
    background-color: #e5e5e5;
    color: grey;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    margin-right: .4rem;
    cursor: pointer;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.post-content {
    overflow-x: auto;
    padding: 1.5rem 0 1rem 0;
    border-top: .5px solid #00000020;
    line-height: 1.75rem;
    letter-spacing: -.003em;
    word-wrap: break-word;
}
.techmaster-font-open-sans {
    font-family: 'Open Sans', sans-serif;
}
.post-content img {
    max-width: 100%;
    height: auto;
}
.post-comments {
    margin-top: 1em;
    margin-bottom: 1em;
}
.comments-box {
    width: 100%;
    margin-top: 1em;
}
.cmt-item, .cmt-item-reply, .comments-box .comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}
.comment-author-avatar {
    margin-right: 1em;
}
.comment-author-content {
    width: calc(100% - 50px - 1rem);
}
.comment-author-avatar img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.comment-author-content .cmts-area {
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    min-height: 4em;
    padding: .65em 1em;
    margin: 0 0 .3em 0;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, .15);
    outline: 0;
    resize: none;
    color: #464646;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .3s ease;
    word-break: break-all;
}
.author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-top: .5rem;
}
.author-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.author-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%}
.author-info {
    padding-left: 15px;
}
.count-post {
    font-size: .9rem;
}
.heading-article--highlight h4 {
    display: inline-block;
    position: relative;
    padding: 10px 20px 10px 20px;
    background-color: #2c98f0;
    color: #fff;
    line-height: 1.1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}
.heading-article--highlight h4:after {
    display: block;
    width: 10px;
    height: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ef8318;
}
#toc {
    color: #464646;
    font-size: 14px;
}
#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#toc li {
    padding: 5px 0;
}
.related-courses {
    margin-top: 2rem;
}
.heading-article--highlight h4 {
    display: inline-block;
    position: relative;
    padding: 10px 20px 10px 20px;
    background-color: #ef8318;
    color: #fff;
    line-height: 1.1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}
.heading-article--highlight h4:after {
    display: block;
    width: 10px;
    height: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ef8318;
}
.list-product .product-item {
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgb(209 207 207);
    margin-top: 20px;
    overflow: hidden;
}
.product-item .product-item-img {
    position: relative;
}
.product-item {
    box-shadow: 1px 2px 10px #0003;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
}
.product-item-img1 img {
    width: 100%;
    height: auto;
}
.product-item-img1 img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000050;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}
.product-item-img1:hover::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
}
.product-item .product-item-text {
    text-align: center;
    padding: .5rem 1rem;
}
.product-item-text .product-item-name {
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 600;
}
.product-item-title {
    font-weight: 300;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}
.product-item-text .product-item-price {
    display: block;
    font-weight: 600;
    font-size: 17px;
}
.product-item-text .btn-add-cart {
    margin: 10px 0 0 0;
}
@media (max-width:475px) {
    .main-post {
        padding: 8px;
    }
}.c-course-detail {
     margin-bottom: 20px;
     box-shadow: 1px 2px 10px #0003;
     padding: 10px;
     border-radius: 5px;
 }
@media (min-width:992px) and (max-width:1200px) {
    .fixed {
        position: fixed;
        top: 130px;
        max-width:  240px;
        background-color: #fff;
    }
}
@media (min-width:1200px) and (max-width:4000px) {
    .fixed {
        position: fixed;
        top: 130px;
        max-width:  280px;
        background-color: #fff;
    }
}
@media (min-width:100px) and (max-width:992px) {
    .fixed {
        margin-bottom: 20px;
        box-shadow: 1px 2px 10px #0003;
        padding: 10px;
        border-radius: 5px;
    }
}@media (min-width:1200px) and (max-width:2000px) {
    .container-fluid {
        width: 100%;
        padding-right: 100px;
        padding-left: 100px;
        margin-right: auto;
        margin-left: auto;
    }
}@media (min-width:992px) and (max-width:1200px) {
    .container-fluid {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}@media (min-width:575px) and (max-width:768px) {
    .container-fluid {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
}@media (min-width:100px) and (max-width:575px) {
    .container-fluid {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
}.c-course-detail__row .btn-block {
     margin-bottom: 10px;
 }
.btn-primary.is-shadow {
    -webkit-box-shadow: 0 4px 0 #eeeeef;
    -moz-box-shadow: 0 4px 0 #eeeeef;
    box-shadow: 0 4px 0 #eeeeef;
}
.btn-primary1 {
    color: #fff;
    background-color: #ef8318;
    border-color: #ef8318;
}
.btn-group-lg>.btn, .btn-lg {
    font-size: 16px;
    padding: .625rem 1.75rem;
}
.btn-secondary.is-shadow {
    -webkit-box-shadow: 0 4px 1px #ef8318;
    -moz-box-shadow: 0 4px 1px #ef8318;
    box-shadow: 0 4px 1px #000;
}
.c-course-detail__row.is-icon {
    padding-left: 30px;
}
.c-course-detail__row {
    padding-bottom: 3px;
    position:  relative;
    /* line-height:  1;
     */}
.c-course-detail__row.is-icon [class*=icon24] {
    float: left;
    margin: 0 0 0 -30px;
}
.icon24-newspaper {
    background-image: url(https://spec.edu.vn/client/image/icon24_newspaper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
[class*=icon24] {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.c-course-detail__row label {
    display: block;
    font-weight: 700;
    margin: 0;
}
.c-course-detail__row p {
    margin: 0;
    color: #999;
    line-height: 1.3;
    font-size: 14px;
}
.icon24-age {
    background-image: url(https://spec.edu.vn/client/image/icon24_age.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.icon24-books {
    background-image: url(https://spec.edu.vn/client/image/icon24_books.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.icon24-rewind-time {
    background-image: url(https://spec.edu.vn/client/image/icon24_rewind_time.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.icon24-student {
    background-image: url(https://spec.edu.vn/client/image/icon24_student.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.icon24-warning {
    background-image: url(https://spec.edu.vn/client/image/icon24_warning.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.icon24-manual {
    background-image: url(https://spec.edu.vn/client/image/icon24_manual.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.icon24-money {
    background-image: url(https://spec.edu.vn/client/image/money.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.c-block {
    padding: 25px 0;
    max-width: 1400px;
    margin: auto;
}
.product-item-img1 img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}
@media only screen and (max-width:2000px) {
    .product-item-img1 img {
        height: 12em;
    }
}@media only screen and (max-width:1300px) {
    .product-item-img1 img {
        height: 8em;
    }
}@media only screen and (max-width:992px) {
    .product-item-img1 img {
        height: 8em;
    }
}@media only screen and (max-width:768px) {
    .product-item-img1 img {
        height: 10em;
    }
}@media only screen and (max-width:575px) {
    .product-item-img1 img {
        height: 16em;
    }
}.call {
     margin: 0;
     padding: 0;
     /* left: -10px;
      *//* bottom: 100px;
      *//* background: #fff;
      *//* background-color: #fff;
      *//* background-color: transparent;
      *//* cursor: pointer;
      *//* width: 110px;
      *//* height: 80px;
      *//* z-index: 9999;
      */}
.call .zoomIn {
    width: 90px;
    height: 90px;
    border: 3px solid #ef8318;
    border-radius: 100px;
    z-index:  1;
    margin-top:  0px;
    margin-left:  -16px;
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.8);
    }
}@keyframes zoomIn {
     0% {
         transform: scale(0);
     }
     100% {
         transform: scale(1.1);
     }
 }.call .pulse {
      width: 70px;
      height: 70px;
      background: #ef8318;
      border-radius: 100px;
      z-index:  1;
      margin-top:  -76px;
      margin-left:  -6px;
      animation-name: pulse;
      animation-duration: .5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      position:  absolute;
  }
.call .pulse1 {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 100px;
    z-index: 10;
    margin-top:  -60px;
    margin-left:  -5px;
    animation-name: pulse;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position:  absolute;
}
.call p {
    font-size: 1.4rem;
    background: #0e4a9a;
    color: #fff;
    padding: 10px 30px 10px 60px;
    border-radius: 15px;
    z-index:  0;
    width:  100%;
    font-weight: 600;
    text-align:  center;
    margin-top:  -65px;
    margin-left:  3px;
    position:  absolute;
}
.call p:hover {
    border: 1px solid #0e4a9a;
    background-color: #fff;
    color: #0e4a9a;
}
p.call_p1 {
    font-size: 1.4rem;
    background: #ef8318;
    color: #fff;
    padding: 10px 30px 10px 60px;
    border-radius: 15px;
    z-index: 9;
    width:  100%;
    text-align: center;
    margin-top: -52px;
    /* margin-left: 30px;
     */position:  absolute;
}
p.call_p1:hover {
    border: 1px solid #ef8318;
    background-color: #fff;
    color: #ef8318;
}
@media only screen and (max-width:767px) {
    .call span {
        display: none;
    }
}.call .tada {
     background: #fff;
     border-radius: 100px;
     width: 60px;
     height: 60px;
     z-index: 10;
     margin-top:  -71px;
     margin-left:  -1px;
     animation-name: tada;
     animation-duration: .4s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     position:  absolute;
 }
.call .tada i {
    margin-top: 18px;
    margin-left: -12px;
    width: 65%;
    color: #333;
    font-size: 30px;
}
@keyframes tada {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0);
    }
}@media (min-width:993px) and (max-width:1100px) {
    .call p {
        /* width: 160px!important;
         */text-align:  right;
        padding-left: 52px!important;
    }


    p  {
    }
    p.call_p1 {
        /* width: 160px!important;
         */padding-left: 52px!important;
        text-align:  right;
    }
}
@media (min-width:1100px) and (max-width:1500px) {
    .call p {
        /* width: 170px!important;
         *//* padding-left: 52px!important;
         */}
    p.call_p1 {
        /* width: 170px!important;
         *//* padding-left: 52px!important;
         */}
}@media (min-width: 1500px) and (max-width:2000px) {
    .call p {
        /* width: 207%!important;
         *//* padding-left: 52px!important;
         */}
    p.call_p1 {
        /* width: 207%!important;
         *//* padding-left: 52px!important;
         */}
}