.blog-content article .post-image img, .blog-content article .thumbnail imgimage{
    width: 100%!important;
}
/* Tin tức */
.site-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog-content:not(.blog-list-3) .column-1-blog-archive {
    padding-bottom: 40px;
}
.blog-content:not(.blog-list-3) .column-1-blog-archive {
    margin-bottom: 40px;
}
.blog-content article {
    position: relative;
    margin-bottom: 40px;
}
.blog-content:not(.blog-list-3) .column-1-blog-archive .entry-top {
    margin-bottom: 33px;
}
.blog-content article .content-inner .entry-top {
    position: relative;
}
.archive .entry-top .post-formats-wrapper, .blog .entry-top .post-formats-wrapper, .search .entry-top .post-formats-wrapper {
    position: relative;
}
.blog-content article .post-image, .blog-content article .thumbnail {
    position: relative;
    overflow: hidden;
}
.blog-content article .post-image img, .blog-content article .thumbnail img {
    -webkit-transition: all 1s;
    -khtml-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.archive .has-post-thumbnail .entry-top .date-meta, .blog .has-post-thumbnail .entry-top .date-meta, .search .has-post-thumbnail .entry-top .date-meta {
    position: absolute;
    bottom: 0;
    left: 0;
}.archive .has-post-thumbnail .entry-top .date-meta, .blog .has-post-thumbnail .entry-top .date-meta, .search .has-post-thumbnail .entry-top .date-meta {
     position: absolute;
     bottom: 0;
     left: 0;
 }
.blog-content article .entry-top .entry-date {
    background: #EF8318;
    padding: 5px 5px 5px 30px;
    width: 20%;
}
.archive .entry-top .date-meta, .blog .entry-top .date-meta, .search .entry-top .date-meta {
    width: auto;
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 14px 10px;
}
.site-content .blog-content article .entry-header .entry-title {
    text-align: justify;
}
.site-content .blog-content article .entry-header .entry-title {
    font-weight: 500;
}
.site-content .blog-content article .entry-header .entry-title, .site-content .blog-content article .entry-header .entry-title a, .page-content article .content-inner .entry-title {
    font-size: 24px;
    text-decoration: none;
}
.blog-content article .entry-button-meta {
    display: flex;
    align-items: center;
}
.site-content .blog-content article .entry-meta, .site-content .page-content article .entry-meta {
    font-family: Montserrat;
}
.column-1-blog-archive .entry-button-meta .entry-meta {
    font-size: 14px;
    margin-bottom: 25px;
}
.blog-content article .entry-meta {
    min-width: fit-content;
}
.archive .entry-button-meta .entry-meta span i, .blog .entry-button-meta .entry-meta span i, .search .entry-button-meta .entry-meta span i {
    margin-right: 12px;
}
.entry-content .entry-button-meta .entry-meta i {
    color: #EF8318;
}
.site-content .blog-content article .entry-button-meta .entry-meta span a, .site-content .blog-content article .entry-summary p {
    color: #292929;
}
.archive .entry-button-meta .entry-meta span a, .blog .entry-button-meta .entry-meta span a, .search .entry-button-meta .entry-meta span a {
    font-size: 16px;
    color: #747474;
    padding-right: 15px;
    font-weight: 300;
    text-transform: capitalize;
    position: relative;
}
.content-area .entry-meta span:last-child {
    padding-right: 0;
}
.archive .entry-button-meta .entry-meta span i, .blog .entry-button-meta .entry-meta span i, .search .entry-button-meta .entry-meta span i {
    margin-right: 12px;
}
.entry-content .entry-button-meta .entry-meta i {
    color: #5dc2a7;
}
.site-content .blog-content article .entry-button-meta .entry-meta span.meta-category a:nth-child(2) {
    display: inline-block;
}
.blog-content:not(.blog-list-3) .column-1-blog-archive .entry-summary {
    margin-bottom: 32px;
}
.site-content .blog-content article .entry-summary, .site-content .blog-content article .entry-summary p {
    font-size: 16px;
    font-weight: 400;
}
.blog-content article .entry-summary {
    line-height: 1.63;
    margin-bottom: 24px;
    font-weight: 400;
}
.site-content .blog-content article .entry-summary, .site-content .blog-content article .entry-summary p {
    font-size: 16px;
    font-weight: 400;
    color: #292929;
}
.entry-summary >p>span {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.blog-content article .entry-button-meta {
    display: flex;
    align-items: center;
}
.blog-content article .readmore, .blog-content article.post_format-post-format-audio iframe, .blog-content article.post_format-post-format-video iframe {
    width: 100%;
}
.archive .entry-button-meta .readmore a, .blog .entry-button-meta .readmore a, .search .entry-button-meta .readmore a {
    font-size: 16px;
    padding: 10px 56px;
    border-radius: 30px;
    text-transform: uppercase;
    color: #292929;
    font-weight: 400;
    transition: all .5s;
}
.blog-content article .readmore a {
    border: 1px solid #EF8318;
    padding: 10px 56px;
    border-radius: 30px;
    text-transform: uppercase;
    color: #292929;
    font-weight: 400;
    transition: all .5s;
    text-decoration: none;
}
.blog-content article .readmore a:hover {
    background-color: #EF8318;
    color: #fff;
}
.archive .entry-top .date-meta, .blog .entry-top .date-meta, .search .entry-top .date-meta {
    width: auto;
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 14px 10px;
}
.loop-pagination {
    margin: 0;
    text-align: center;
}
.loop-pagination li {
    display: inline-block;
    list-style: none;
}
.loop-pagination li .page-numbers.current, .loop-pagination li .page-numbers:hover {
    background: #EF8318;
}
.loop-pagination li .page-numbers.current, .loop-pagination li .page-numbers:hover {
    border-color: transparent;
    color: #fff;
}
.loop-pagination li .page-numbers {
    display: inline-block;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 38px;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .3px;
    color: #a4a4a4;
    cursor: pointer;
    transition: all .3s;
    border-radius: 0;
}
.widget-area aside.widget .bp-element>.title, .widget-area aside.widget .widget-title {
    font-size: 18px;
    color: #292929;
    font-family: inherit;
    margin-bottom: 40px;
    font-weight: 500;
    text-transform: uppercase;
}
.widget-area aside.widget .widget-title:before, .widget-area aside.widget .bp-element > .title:before {
    color: #5dc2a7;
}
.widget-area aside.widget .bp-element>.title:before, .widget-area aside.widget .widget-title:before {
    content: '|';
    width: 3px;
    height: 100%;
    color: #f8b944;
    position: relative;
    top: 0;
    margin-right: 12px;
}
.widget-area aside.widget.widget_tag_cloud .tagcloud a {
    color: #7c7c7c;
    font-weight: 300;
    font-size: 16px!important;
    height: 34px;
    border: 1px solid #EF8318;
    padding: 0 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    line-height: 34px;
    transition: all .5s;
    text-decoration: none;
}
.widget-area aside.widget.widget_tag_cloud .tagcloud a:hover {
    background-color: #EF8318;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.widget-area aside.widget .search-form label .search-field {
    line-height: 24px;
    font-size: 14px;
    width: 100%;
    transition: all .3s ease-in-out;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #eee;
    font-family: inherit;
    font-style: italic;
    background: 0 0;
    padding:5px;
}
.widget-area aside.widget .search-form label .search-field {
    padding: 0 60px 0 0;
    background-clip: padding-box;
}
.widget-area aside.widget .search-form .search-submit {
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    z-index: 2;
    background: 0 0!important;
    border-radius: 0;
    line-height: 42px;
    height: 42px;
    color: #888;
    font-size: 0;
    font-weight: 700;
    text-transform: uppercase;
}
[role=button], a, area, button, input, label, select, summary, textarea {
    touch-action: manipulation;
}

.widget-area aside.widget {
    margin-bottom: 50px;
}
.widget-area aside.widget .search-form {
    position: relative;
    border: none;
}
.widget-area aside.widget .search-form label {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    margin: 0;
}
.widget-area aside.widget .search-form label .search-field {
    line-height: 24px;
    font-size: 14px;
    width: 100%;
    transition: all .3s ease-in-out;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #eee;
    font-family: inherit;
    font-style: italic;
    background: 0 0;
    padding:5px;
}
.widget-area aside.widget .search-form:after {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}


.blog-content article .post-image img, .blog-content article .thumbnail img{
    width: 100%;
    max-height: 200px;
}
.fa-user:before {
    content: "\f007";
    color: #EF8318;
    padding-right: 10px;
}

.related_articles_a {
    padding-left: 15px;
}
.tagpost_a {
    color: #7c7c7c;
    font-weight: 300;
    font-size: 16px!important;
    height: 34px;
    border: 1px solid #EF8318;
    padding: 0 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    line-height: 34px;
    transition: all .5s;
    text-decoration: none;
    border-radius: 5px;
}
.tagpost_a:hover {
    background-color: #EF8318;
    text-decoration: none;
    color: #fff;
}
.titleCourse{
    text-overflow: ellipsis;
}